.overall{
    display: flex;
    justify-content: space-between;
    background-color: rgba(207, 224, 224, 0.719);
    height: 250px;
    padding: 10px;
}

.row{
    display: flex;
    flex-direction:column;
    list-style: none;
    justify-content: space-around;
    word-wrap: break-word;
    max-width:800px;
}


img{
    height: 30px;
}

.product{
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    list-style: none;
}

.information{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-right: 100px;
}
.sub{
     padding-left: 50px;
     justify-content: center;
     align-items: center;
}
